.otherproducts-container {
  padding: 0 15px;
}

.product-card {
  transition: transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 128, 0, 0.1);
}

.product-img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.product-img:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--primary-accent);
}
.card-text {
  font-size: 0.89rem;
  color: var(--color-text-light);
  /* margin-bottom: 0.5rem; */
  /* height: 40px; */
}

.card-price {
  font-size: 1.1rem;
}

.wishlist-icon {
  cursor: pointer;
  z-index: 5;
}

.card-body {
  padding: 0.85rem;
}
.badge {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  position: absolute;
  top: 1px;
  left: 1px;
}

@media (max-width: 576px) {
  .product-img {
    height: 170px;
  }

  .card-title {
    font-size: 0.95rem;
  }

  .card-price {
    font-size: 1rem;
  }
}
