.section-card {
    background-color: #f8f9fa;
    border-radius: 12px;
  }

  /* Removed fixed margins */
  .badge,
  .shopnow-btn {
    margin: 0;
  }

  .subsection-box img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }

  .first-img {
    width: 100%;
  }

  h4,
  h3 {
    font-weight: 600;
  }

  h4 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 2rem;
    margin-top: 10px;
  }
